includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: var/cache/phpstan
    checkMissingOverrideMethodAttribute: true
